{% extends 'cv/base.html' %}

{% block content %}
	<div class="info">
		<p>Location: Sofia, Bulgaria/Birmingham, United Kingdom</p>
		<p>Email: k.b.sotirov@gmail.com</p>
		<p>Phone number: +359 889 693 434</p>
	</div>
	<hr id="first-line">
	{% if user.is_authenticated or educations %}
		<h2><a id="education" href="{% url 'education_page' %}">Education</a></h2>
		<div class="edu">
			{% for education in educations %}
				<div>
					<h3> {{education.name}} </h3>	
					<p class="edu-describe">
						{{ education.description|linebreaksbr }}
					</p>
					<p class="dates">
						<i>{{ education.begin_date }}-{{ education.end_date }}</i>		
					</p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if user.is_authenticated or projects %}
		<hr>
		<h2><a id="projects" href="{% url 'projects_page' %}">Projects</a></h2>
		<div class="pro">
			{% for project in projects %}
				<div>
					<h3>{{project.description}}</h3>
					<p><i>{{project.date}}</i></p>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if user.is_authenticated or soft_skills %}
		<hr>
		<h2><a id="soft-skills" href="{% url 'soft_skills_page' %}">Soft Skills</a></h2>
		<div>	
			<ul>
			{% for skill in soft_skills %}
				<div class="soft">
					<li>{{ skill.skill }}</li>	
				</div>
			{% endfor %}	
			</ul>	
		</div>
	{% endif %}
	{% if user.is_authenticated or langs or systems %}
		<hr>
		<h2><a id="technical-skills" href="{% url 'technical_skills_page' %}">Technical Skills</a></h2>
		<div class="tech">
		{% if langs %}
			<div>
				<h3>Programming Languages</h3>
				<ul>
					{% for lang in langs %}
						<li>{{lang.skill}}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if systems %}
			<div>
				<h3>Operating Systems</h3>
				<ul>
					{% for system in systems %}
						<li>{{ system.skill }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		</div>
	{% endif %}	
	{% if user.is_authenticated or interests %}
		<hr>
		<h2><a id="interests" href="{% url 'interests_page' %}">Interests</a></h2>
		<div class="interest">
			<ul>
			{% for interest in interests %}
				<li>{{ interest.interest }}</li>
			{% endfor %}
			</ul>
		</div>
	{% endif %}	
	<div class="blog">
		<a href="{% url 'post_list' %}" class="btn btn-primary btn-sm">Go back</a>
	</div>		
{% endblock %}
