{% extends 'cv/base.html' %}

{% block content %}

	<h2>Interests</h2>
	
	{% if user.is_authenticated %}
		<div>
			<a id="new-interest" href="{% url 'interest_new' %}">Add</a>
		</div>
	{% endif %}
	<ul>
		{% for interest in interests %}
			<div>
				<li>
					{{ interest.interest }}
					{% if user.is_authenticated %}	
						<a id="edit_interest_{{interest.pk}}"  href="{% url 'interest_edit' pk=interest.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>	
						<a id="remove_interest_{{interest.pk}}"  href="{% url 'interest_remove' pk=interest.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
					{% endif %}	
				</li>
			</div>
		{% endfor %}
	</ul>

{% endblock %}
