{% extends 'cv/base.html' %}

{% block content %}

	<h2>Projects</h2>	
	{% if user.is_authenticated %}
	<div>
		<a id="new_pro" href="{% url 'project_new' %}">Add</a>
	</div>
	{% endif  %}
	{% for project in projects %}
		<div>
			<h3>{{project.description}}</h3>
			<p>
				{{project.date}}
			</p>
			{% if user.is_authenticated %}
				<a id="edit_pro_{{project.pk}}" class="btn btn-default" href="{% url 'project_edit' pk=project.pk %}">Edit</a>
			{% endif %}
		</div>
	{% endfor %}

{% endblock %}
