{% extends 'cv/base.html' %}

{% block content %}
	<h2>Soft Skills</h2>	
	<ul>
		{% for skill in skills %}
			{% if user.is_authenticated %}
				<div class="authenticated">
			{% else %}
				<div>
			{% endif %}
				<li>
					{{ skill.skill }}
					{% if user.is_authenticated %}
						<a id="edit_skill_{{skill.pk}}" class="btn btn-warning skill-button" href="{% url 'soft_skill_edit' pk=skill.pk %}" ><span class="glyphicon glyphicon-pencil"></span></a>
						<a id="remove_skill_{{skill.pk}}" class="btn btn-danger" href="{% url 'soft_skill_remove' pk=skill.pk %}" ><span class="glyphicon glyphicon-remove"></span></a>
					{% endif %}
				</li>	
			</div>	
		{% endfor %}
	</ul>	
	{% if user.is_authenticated %}
	<div>
		<a id="new-skill" class="btn btn-success add-button" href="{% url 'soft_skill_new' %}">Add</a>
	</div>
	{% endif %}
{% endblock %}
