{% extends 'cv/base.html' %}

{% block content %}

	<h2>Technical Skill</h2>
	{% if langs %}
		<div>
			<h3>Programming Languages</h3>
			<ul>
				{% for lang in langs %}
					{% if user.is_authenticated %}
						<div class="authenticated">
					{% else %}	
						<div>
					{% endif %}	
						<li>
							{{lang.skill}}
							{% if user.is_authenticated %}
								<a id="edit_skill_{{lang.pk}}" class="btn btn-warning skill-button" href="{% url 'technical_skill_edit' pk=lang.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
								<a id="remove_skill_{{lang.pk}}" class="btn btn-danger" href="{% url 'technical_skill_remove' pk=lang.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
							{% endif %}
						</li>
					</div>	
				{% endfor %}
			</ul>
	</div>
	{% endif %}
	{% if systems %}
		<div>
			<h3>Operating Systems</h3>
			<ul>
				{% for system in systems %}
					{% if user.is_authenticated %}
						<div class="authenticated">
					{% else %}	
						<div>
					{% endif %}	
						<li>
							{{ system.skill }}
							{% if user.is_authenticated %}
								<a id="edit_skill_{{system.pk}}" class="btn btn-warning skill-button" href="{% url 'technical_skill_edit' pk=system.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
								<a id="remove_skill_{{system.pk}}" class="btn btn-danger" href="{% url 'technical_skill_remove' pk=system.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
							{% endif %}	
						</li>
					</div>
				{% endfor %}
			</ul>
		</div>
	{% endif %}	
	
	{% if user.is_authenticated %}
	<div>
		<a id="new-skill" class="btn btn-success add-button" href="{% url 'technical_skill_new' %}">Add</a>
	</div>
	{% endif %}	

{% endblock %}
