{% extends 'cv/base.html' %}

{% block content %}

	<h2>Technical Skill</h2>
	{% if user.is_authenticated %}
	<div>
		<a id="new-skill" href="{% url 'technical_skill_new' %}">Add</a>
	</div>
	{% endif %}
	{% if langs %}
		<div>
			<h3>Programming Languages</h3>
			<ul>
				{% for lang in langs %}
					<li>
						{{lang.skill}}
						{% if user.is_authenticated %}
							<a id="edit_skill_{{lang.pk}}" href="{% url 'technical_skill_edit' pk=lang.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a id="remove_skill_{{lang.pk}}" href="{% url 'technical_skill_remove' pk=lang.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
						{% endif %}
					</li>
				{% endfor %}
			</ul>
	</div>
	{% endif %}
	{% if systems %}
		<div>
			<h3>Operating Systems</h3>
			<ul>
				{% for system in systems %}
					<li>
						{{ system.skill }}
						{% if user.is_authenticated %}
							<a id="edit_skill_{{system.pk}}"  href="{% url 'technical_skill_edit' pk=system.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
							<a id="remove_skill_{{system.pk}}" href="{% url 'technical_skill_remove' pk=system.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
						{% endif %}	
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}		

{% endblock %}
