{% extends 'blog/base.html' %}

{% block content %}
{% if user.is_authenticated or post.published_date %}
	<div>
		<h2 class="post-title"> {{post.title}} </h2>
		<p class="post"> {{ post.text|linebreaksbr }} </p>
		{% if post.published_date %}
			<div>
				<i>{{ post.published_date }}</i> 
			</div>
		{% else %}
			<p>created: {{post.created_date|date:'d-m-Y'}}</p>
			<a class="btn btn-success publish-button" href="{% url 'post_publish' pk=post.pk %}">Publish</a>	
		{% endif %}	
	</div>
	{% if user.is_authenticated %}
		<div>
				<a class="btn btn-warning" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
				<a class="btn btn-danger" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
		</div>			
	{% endif %}

	{% if post.published_date %}
		<hr>	
		{% for comment in post.comments.all %}
			{% if user.is_authenticated or comment.approved_comment %}
			<div class="comment">
				<strong>{{ comment.author }} </strong>
				<p>{{ comment.text | linebreaks }}</p>

				<div>
					<i>{{ comment.created_date }}</i>
				</div>	
				{% if not comment.approved_comment %}
					<a class="btn btn-success" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
				{% endif %}	
				{% if user.is_authenticated %}
				<a class="btn btn-danger" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
				{% endif %}
			</div>
			{% endif %}
		{% empty %}
			<p>No comments here yet!</p>
		{% endfor %}
		<div class="add-comment">
			<a class="btn btn-info" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comments</a>
		</div>
	{% endif %}	
{% endif %}		
{% endblock %}
