{% extends 'blog/base.html' %} 

{% block content %}
	{% for post in posts %}	
		<div> 
			<h2><a href="{% url 'post_detail' pk=post.pk %}" class="post-title">{{ post.title}}</a></h2>
			<p>	{{ post.text|linebreaksbr }} </p>
			<p><i>published: <time>{{ post.published_date }} </time> </i> </p>	
			<a href="{% url 'post_detail' pk=post.pk %}">Comments:{{post.approved_comments.count}} </a>
			{% if user.is_authenticated %}
				<p>Comments to approve: {{post.disapproved_comments.count}}</p>
			{% endif %}				
		</div>
	{% endfor %}		
{% endblock %}	
