h1 a {
	color: OldLace;
}

h1 a:hover {
	color: OldLace;
}

.post-title {
	color: SaddleBrown;
}

.post-title:hover {
	color: SaddleBrown;
}

.post {
	font-size: 18px;
	margin-left: 15px;
}

.date {
	margin-left: 15px;
}

.top-menu a {
	margin-left: 30px;
	color: Peru;
}

.top-menu p {
	margin-left: 10px;
	margin-top: 10px;
	color: Oldlace;
}

.top-menu p a {
	margin-left: 0px;
}

.excep {
	margin-left: -25px;
}

.comment {
	margin-bottom: 20px;
}

.add-comment {
	margin-bottom: 30px;
}

.comment p {
	font-size: 15px;
}

.comment strong {
	font-size: 16px;
}

.comments {
	font-size: 15px;
	margin-left: 15px;
}

.heading {
	background-color: SaddleBrown;
	padding: 20px 10px 30px 15px;
	margin-top: -20px;
	margin-left: -15px;
}

.publish-button {
	margin-bottom: 15px;
}

footer {
	text-align: center;
	background-color: SaddleBrown;
	margin-left: -15px;
	padding: 10px 20px 10px 20px;
	font-size: 20px;
}

footer a {
	color: Oldlace;
}

footer a:hover {
	color: Oldlace;
}

body {
	background-color: Oldlace;
	padding-left: 15px;
	padding-top: 20px;
	font-family: serif;
}
